footer {
  background-color: $dark;
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  p {
    color: $beige;
    font-size: 18px;
    text-align: center;

    a {
      margin-left: 5px;
      color: $loud;
      font-size: 18px;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  .tool {
    color: $loud;
  }

  .copyright {
    margin-bottom: 15px;
  }
}