.burgerButton {
  font-family: $beige;
  text-transform: uppercase;
  color: $beige;
  letter-spacing: 1.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 75px;
  width: 115px;
  margin: auto;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0 80px 0 0;
  box-sizing: border-box;
  cursor: pointer;
  
    &:focus {
        outline: none;
    }

  
  .burgerTitle {
    margin-right: 5px;
    font-size: 24px;
  }

  .menu-lines {
    padding-left: 7px;
    margin-bottom: 20px;

    .buttonLine {
      width: 35px;
      margin-top: 6px;
      height: 2px;
      background: $beige;
      border-radius: 50px;
    }
  } 
  
  @media all and (min-width: 768px) {
    display: none;
    width: 0px;
  }
}

.burgerButton:focus {
    background: none;
}